@import "tailwindcss";

:root {
  --primary-bg: #181818;
  --secondary-bg: #1f1f1f;

  --primary-text: #a6a6a6;
  --white-text: #ffffff;
  --border-color: #2b2b2b;
}

body {
  background: var(--primary-bg);
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
}
